@use 'node_modules/@angular/material' as mat;

@mixin details-panel-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  #card-details-indicator {
    width: 25%;
    height: 5px;
    background-color: mat.get-color-from-palette($primary);
  }

  #card-details-indicator-container {
    position: relative;
    float: bottom;
    bottom: 5px;
    visibility: hidden;

  }

  .details-panel-grid {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  $ic-border-color: mat.get-color-from-palette($foreground, divider);

  .svg-details-pointer {
    position: relative;
  }

  #pointer-poly {
    stroke: $ic-border-color;
    stroke-width: 1px;
    fill: none;

  }

  #pointer-path {
    fill: mat.get-color-from-palette($background, card);
  }


  #div-details-panel {
    flex: 1;
    border: $ic-border-color solid 1px;
    border-radius: 2px;
    margin-top: -1px;
    background-color: mat.get-color-from-palette($background, card);
  }

  .div-details-reveal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: mat.get-color-from-palette($background, background);
    transform-origin: bottom;
  }

}
