<!--ITEM DETAILS TEMPLATE-->
<ng-template #myItemDetailsTemplate let-data>
  <div *ngIf="data" style="display:flex; flex-direction: row">
    <div class="primary-background-color" fxHide.xs="true" fxShow="true"
         style="margin:10px; text-align:center">
      <div style="display:inline-block; margin:15px;">
        <img [src]="data.starWarsChar.fullSrc" class="avatar" style="width: 150px; height: 150px;"/>
      </div>
      <div class="primary-foreground" style="font-size:20px; margin-top: 15px">{{data.starWarsChar.name}}</div>
    </div>
    <div style="margin-top:50px; margin-left: 20px; margin-right: 20px; height: 280px; overflow: auto">
      <p style="word-wrap: break-word">{{data.starWarsChar.fullDesc}}</p>
    </div>
  </div>
</ng-template>

<!--ITEM CARD TEMPLATE-->
<ng-template #myItemTemplate let-data let-deleteCard>
  <mat-card style="min-width: 300px">
    <mat-card-header>
      <div style="flex-direction: row; display: flex; align-items: center; gap: 10px; margin-bottom: 10px">
        <img [src]="data.starWarsChar.avatarSrc" class="avatar" style="width:75px; height: 75px"/>
        <div style="margin-left:10px; flex-direction: column; display: flex">
          <span class="foreground" style="font-size:20px">{{data.starWarsChar.name}}</span>
          <span class="foreground" style="font-size:16px">{{data.starWarsChar.subtitle}}</span>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</ng-template>

<!-- MAIN APP -->
<div class="mat-app-background app-container">
  <mat-toolbar class="mat-elevation-z4" color="primary" style="z-index: 5; position: relative">
    <h1>Pointer Panel Demo</h1>
    <span style="margin-right: 20px"></span>
    <button (click)="addCard()" mat-button>ADD</button>
  </mat-toolbar>
  <div class="app-body">
    <pointer-panel-list [dataSource]="$cards"
                        [itemDetailsTemplate]="myItemDetailsTemplate"
                        [itemTemplate]="myItemTemplate">
    </pointer-panel-list>
  </div>
</div>


